.navbar {
    background-color: black;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-style: outset;
    border-color: gray;
  }
  
  .link {
    font-size: 25px;
    width: 110px;
    height: 55px;
    margin-left: 35px;
    padding-top: 20px;
    text-align: center;
    color: white;
    white-space: nowrap;
    text-decoration: none;
  }
  
  .link:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  
  .login:hover {
    color: black;
    background-color: white;
  }
  .login {
    font-size: 25px;
    width: 100px;
    height: 55px;
    margin-left: 1100px;
    padding-top: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  .mySlides {
    width: 100%;
    height: 500px;
    display: none;
  }
  
  .slideshow {
    width: 1000px;
    height: 500px;
    margin: 150px 0 0 400px;
  }
  
  .home_page {
    background-image: url(images/background.jpg);
  }
  
  .title {
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: black;
    padding: 15px;
    width: 1000px;
    height: 65px;
    margin: 25px 0 0 385px;
    border-style: ridge;
    border-width: 2px;
    border-color: gray;
  }
  