<!DOCTYPE html>
<html>
  <head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'flabbybirb.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>
    
  <body>
    {% include 'navbar.html' %}
      <button id="changeBackground">Background</button>
      <div id="background"class="background"></div>
      <img class="bird" src="{% static 'images/bird.png' %}" alt="bird-img">
      <div class="message">
        Press Enter To Start Game
      </div>
      <div class="score">
        <span class="score_title"></span>
        <span class="score_val"></span>
      </div>
      <script src="{% static 'flabbybird.js' %}"></script>
  </body>
</html>