<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <meta char="utf-8" />
    <title>Pac-Man</title>
    <link rel="stylesheet" href="{% static 'pacman.css' %}" />
    <script src="{% static 'pacman.js' %}" char="utf-8"></script>
  </head>

  <body>
    {% include 'navbar.html' %}
    <h1 class="game_title">Pac Man</h1>
    <div class="game_card">
      <h3 class="score">Score:<span id="score">0</span></h3>
      <div class="grid"></div>
      <a class="replay_button" href="{% url 'pacman'%}">Replay</a>
    </div>
  </body>
</html>
