<!DOCTYPE html>
<html lang="en" onclick="jump()">
  <head>
    {% load static%}
    <meta charset="UTF-8" />
    <title>Jump Game</title>
    <link rel="stylesheet" href="{% static 'run.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 class="game_title">Run</h1>
    <div class="game_card">
      <button id="changecharacter">Character</button>
      <button id="changeblock">Block</button>
      <button id="changebackground">Background</button>
      <p>Score: <span id="scoreSpan"></span></p>
      <div class="game">
        <div id="character"></div>
        <div id="block"></div>
      </div>
      <a class="replay_btn" href="{% url 'run' %}">Replay</a>
    </div>
  </body>
  <script src="{% static 'run.js' %}"></script>
</html>
