<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static "signup.css" %}"/>
  </head>
  <body>
    <nav class="navbar">
      <a class="link" href="{% url 'main' %}">Home</a>
      <a class="login" href="{% url 'login' %}">Login</a>
      <a class="link" href="{% url 'signup' %}">Sign Up</a>
    </nav>
    <div class="signup_card">
      <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input
        class="btn login_btn"
        type="submit"
        value="Register Account"
      />
      </form>
      {{form.errors}}
    </div>
    <script>
      var form_fields = document.getElementsByTagName("input");
      form_fields[1].placeholder = "Username..";
      form_fields[2].placeholder = "Enter password...";
      form_fields[3].placeholder = "Re-enter Password...";

      for (var field in form_fields) {
        form_fields[field].className += " form-control";
      }
    </script>
  </body>
</html>
