<!DOCTYPE html>
<html>
  <head>
    {% load static%}
    <title>Snake Game</title>
    <link href="{% static 'snake.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div id="snaketitle">Snake</div>
    <div id="snakegame">
      <p id="start_message">Press a key to Start!</p>
      {% comment %}
      <div class="popup" id="popup-1">
        <div class="overlay"></div>
        <div class="content">
          <div class="close-btn" onclick="togglePopup()">&times;</div>
          <p>Stuff</p>
        </div>
      </div>
      <button onclick="togglePopup()">Settings</button> {% endcomment %}
      <div id="stats">
        <p id="score">Score: 0</p>
        <p id="apples_eaten">Apples Eaten: 0</p>
      </div>
      <a id="snake_replay" href="{% url 'snake' %}">Replay</a>
      <canvas id="snakeboard" width="500" height="500"></canvas>
    </div>
  </body>

  <script src="{% static 'snake.js' %}"></script>
</html>
